global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend mqtt_front
    bind *:1883
    default_backend mqtt_back

backend mqtt_back
    balance roundrobin
    option tcp-check

    server mosquitto1 mosquitto1:1883 check
    server mosquitto2 mosquitto2:1883 check

